*{
    padding: 0;
    margin: 0;
}
body{
    background: url(ibackiee-96330.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
}
